@import "../../static/styles/variables";

.content {
  background: $background;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dashboard {
    width: 95%;
    height: 95%;
    margin-bottom: 1em;

    .large-title {
      margin-top: 2em;
      font-weight: 500;
      color: $title_color;
    }

    .by {
      font-size: 0.8rem;
      color: grey;
    }

    .data {
      margin-top: 2em;
      background: $light;
      padding: 1em;
      border-radius: 10px;
    }
  }
}

// lista horizontal
.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  margin-top: 2em;
}

// Lista vertical
.vertical-list {
  display: flex;
  flex-direction: column;

  .top-list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  .item-list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    background: $background;
    padding: 1em 0;
    margin-top: 0.5em;
  }

  .top-list-id {
    width: 10%;
  }

  .top-list-stats, .top-list-down, .top-list-up, .top-list-diff {
    width: 25%;
  }
}

.square {
  min-width: 25%;
  background: $square_bkg;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 0.5em;
  border-radius: 10px;
  padding: 1em;

  div {
    margin-top: 2em;

    p {
      font-size: 0.8rem;
      font-weight: 300;
    }

    h2 {
      color: $light;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  small {
    margin-top: 3em;
    font-weight: 200;
  }
}

.square:hover {
  background: $square_bkg;
  color: $light;
}

.full {color: red;}
.empty { color: green }
.normal {
  color: $square_bkg;
}
